body {
    background-image: url("/images/texture.jpg");
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;    
}

#kit-name {
    font-size: 2rem;    
    color:#ff414d;
    font-family: 'Roboto', sans-serif;
}

.container {   
    margin-top: 150px;   
}

.hit {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.drum {
    background: #686d76;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;   
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 35px;
    box-shadow: 1px 1px 20px 0 #000000;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    outline: none;
    text-transform: uppercase;
}
